<app-newsletter></app-newsletter>
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white footer pt-5">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="d-inline-block mb-3">
          <h1 class="text-white">CartStudio</h1>
        </a>
        <p class="mb-0">CartStudio is a modern e-commerce platform offering seamless shopping experiences, intuitive
          cart management, secure payments, and personalized solutions to help businesses boost sales and customers shop
          smarter, faster, and easier.</p>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
        <h5 class="text-white mb-6">Get In Touch</h5>
        <p><a href="https://maps.app.goo.gl/rUj9jCJSYdwPHKfu5" class="text-light text-decoration-none" target="_blank">
            <i class="fa fa-map-marker-alt me-3"></i>Best Boys PG , Noida</a></p>
        <p> <a href="tel:+01234567890" target="_blank" class="text-light text-decoration-none"><i
              class="fa fa-phone-alt me-3"></i>+918433209770</a></p>
        <p ><a href="mailto:amanshrivastav11119@gmail.com" target="_blank" class="text-light text-decoration-none"><i class="fa fa-envelope me-3"></i>amanshrivastav11119@gmail.com</a></p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-primary btn-square border-2 me-2 text-light text-decoration-none " routerLink="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-primary btn-square border-2 me-2 text-light text-decoration-none" routerLink="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-primary btn-square border-2 me-2 text-light text-decoration-none" routerLink="#!"><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-primary btn-square border-2 me-2 text-light text-decoration-none" routerLink="#!"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-primary btn-square border-2 me-2 text-light text-decoration-none" routerLink="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
        <h5 class="text-white mb-4">Popular Link</h5>
        <a class="btn btn-link  text-light text-decoration-none" routerLink="/about">About Us</a>
        <a class="btn btn-link  text-light text-decoration-none" routerLink="/Contactuspage">Contact Us</a>
        <a class="btn btn-link  text-light text-decoration-none" routerLink="/testinomial">Testinomial</a>
        <a class="btn btn-link  text-light text-decoration-none" routerLink="/">Terms & Condition</a>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
        <h5 class="text-white mb-4">Our Services</h5>
        <a class="btn btn-link text-light text-decoration-none" routerLink="#!">Interior Design</a>
        <a class="btn btn-link text-light text-decoration-none" routerLink="#!">Project Planning</a>
        <a class="btn btn-link text-light text-decoration-none" routerLink="#!">Renovation</a>
        <a class="btn btn-link text-light text-decoration-none" routerLink="#!">Implement</a>
        <a class="btn btn-link text-light text-decoration-none" routerLink="#!">Landscape Design</a>
      </div>
    </div>
  </div>
  <div class="container wow fadeIn" data-wow-delay="0.1s">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" routerLink="/">Cart Studio</a>, All Right Reserved.
          Designed By Aman Shrivastav
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <a routerLink="/">Home</a>
            <a href="#!">Cookies</a>
            <a href="#!">Help</a>
            <a href="#!">FAQs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
