<!-- Collections Start -->
<div class="container-fluid mt-5">
    <div class="container mt-5">
        <div class="row g-0">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column justify-content-center bg-primary h-100 p-5">
                    <h1 class="text-white mb-5">Our Latest <span class="text-uppercase text-primary bg-light px-2">Collections</span></h1>
                    <h4 class="text-white mb-0"><span class="display-1">6</span> of our trending collections</h4>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="project-item position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/project-1.jpg" alt="Electronics">
                            <a class="project-overlay text-decoration-none" href="#!">
                                <h4 class="text-white">Electronics</h4>
                                <small class="text-white">120 Products</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="project-item position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/project-2.jpg" alt="Fashion">
                            <a class="project-overlay text-decoration-none" href="#!">
                                <h4 class="text-white">Fashion</h4>
                                <small class="text-white">95 Products</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.4s">
                        <div class="project-item position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/project-3.jpg" alt="Home & Kitchen">
                            <a class="project-overlay text-decoration-none" href="#!">
                                <h4 class="text-white">Home & Kitchen</h4>
                                <small class="text-white">78 Products</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="project-item position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/project-4.jpg" alt="Toys & Games">
                            <a class="project-overlay text-decoration-none" href="#!">
                                <h4 class="text-white">Toys & Games</h4>
                                <small class="text-white">55 Products</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="project-item position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/project-5.jpg" alt="Sports & Outdoors">
                            <a class="project-overlay text-decoration-none" href="#!">
                                <h4 class="text-white">Sports & Outdoors</h4>
                                <small class="text-white">88 Products</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                        <div class="project-item position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/project-6.jpg" alt="Beauty & Personal Care">
                            <a class="project-overlay text-decoration-none" href="#!">
                                <h4 class="text-white">Beauty & Personal Care</h4>
                                <small class="text-white">102 Products</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Collections End -->
