<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
            <img class="img-fluid" src="img/about-1.jpg" alt="">
          </div>
          <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
            <img class="img-fluid h-100" src="img/about-2.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
            <img class="img-fluid" src="img/about-1.jpg" alt="">
          </div>
          <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
            <img class="img-fluid h-75" src="img/about-2.jpg" alt="">
            <div class="h-25 d-flex align-items-center text-center bg-primary px-4">
              <h4 class="text-white lh-base mb-0">Making you Stylish Since 2010</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="mb-5"><span class="text-uppercase text-primary bg-light px-2">History</span> of Our
          Creation</h1>
        <p class="mb-4"> Cartstudio began with a vision to simplify shopping by bringing together quality,
          affordability, and convenience in one place.
          What started as a small idea has grown into a trusted platform, offering a wide range of products tailored to
          modern lifestyles.
          Every step of our journey reflects our commitment to making shopping easy, reliable, and enjoyable for
          everyone.</p>
        <div class="row g-4 pt-3 text-dark bg-light p-4 rounded">
          <div class="col-sm-6">
            <i class="fa fa-trophy fa-2x text-primary mb-2"></i>
            <h6>Trusted & Reliable</h6>
            <p>Your go-to destination for quality shopping experiences.</p>
          </div>
          <div class="col-sm-6">
            <i class="fa fa-users fa-2x text-primary mb-2"></i>
            <h6>Customer First</h6>
            <p>We value every shopper with dedicated support and care.</p>
          </div>
          <div class="col-sm-6">
            <i class="fa fa-headset fa-2x text-primary mb-2"></i>
            <h6>24/7 Assistance</h6>
            <p>Always here to help with quick and reliable service.</p>
          </div>
          <div class="col-sm-6">
            <i class="fa fa-tags fa-2x text-primary mb-2"></i>
            <h6>Best Deals</h6>
            <p>Affordable prices with exciting offers and discounts.</p>
          </div>
        </div>


        <div class="d-flex align-items-center mt-5">
          <a class="btn btn-outline-primary btn-square border-2 me-2" routerLink="/"><i
              class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-primary btn-square border-2 me-2" routerLink="/"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-primary btn-square border-2 me-2" routerLink="/"><i
              class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-primary btn-square border-2" routerLink="/"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
