<!-- Testimonial Start -->
<div class="container-xxl py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-9">
        <div class="wow fadeIn" data-wow-delay="0.2s">
          <owl-carousel-o [options]="customOptions">

            <ng-template carouselSlide>
              <div class="testimonial-item">
                <div class="row g-5 align-items-center">
                  <div class="col-md-6">
                    <div class="testimonial-img">
                      <img class="img-fluid" src="img/testimonial-1.jpg" alt="Customer Review">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="testimonial-text pb-5 pb-md-0">
                      <h3>Fast Delivery</h3>
                      <p>“I ordered a laptop and received it the next day! CartStudio’s delivery is super fast and reliable. Highly recommend!”</p>
                      <h5 class="mb-0">Ananya Sharma</h5>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template carouselSlide>
              <div class="testimonial-item">
                <div class="row g-5 align-items-center">
                  <div class="col-md-6">
                    <div class="testimonial-img">
                      <img class="img-fluid" src="img/testimonial-2.jpg" alt="Customer Review">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="testimonial-text pb-5 pb-md-0">
                      <h3>Excellent Customer Support</h3>
                      <p>“I had a question about a product, and the CartStudio team resolved it immediately. Great service!”</p>
                      <h5 class="mb-0">Rohan Mehta</h5>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template carouselSlide>
              <div class="testimonial-item">
                <div class="row g-5 align-items-center">
                  <div class="col-md-6">
                    <div class="testimonial-img">
                      <img class="img-fluid" src="img/testimonial-3.jpg" alt="Customer Review">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="testimonial-text pb-5 pb-md-0">
                      <h3>Great Value</h3>
                      <p>“CartStudio offers amazing products at affordable prices. I always find exactly what I need!”</p>
                      <h5 class="mb-0">Sneha Kapoor</h5>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
