    <!-- Hero Start -->
    <div class="container-fluid pb-2 bg-primary hero-header">
        <div class="container py-2">
            <div class="row g-3 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-1 mb-0 animated slideInLeft">{{tittle}}</h1>
                </div>
                <div class="col-lg-6 animated slideInRight">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-end mb-0">
                            <li class="breadcrumb-item"><a class="text-primary" routerLink="">Home</a></li>
                            <li class="breadcrumb-item text-secondary active" aria-current="page">{{tittle}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
